<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Unit1\FirstModule\Api\ProductInterface"
                type="Magento\Catalog\Model\ProductRepository" />
    <type name="Unit1\FirstModule\MagentoU\Test">
        <arguments>
            <argument name="justAParameter" xsi:type="object">Hello world!</argument>

            <argument name="test_array_item" xsi:type="array">
                <item name="test_array_item2" xsi:type="string">Test Array Item!!!</item>
            </argument>

        </arguments>
    </type>
</config>


